// badge.scss

@use 'variables';

/* Badge */
.badge {
  display: inline-block;
  padding: variables.$badge-padding-y variables.$badge-padding-x;
  font-size: variables.$badge-font-size;
  font-weight: variables.$badge-font-weight;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: variables.$badge-border-radius;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.split-badge {
  display: inline-flex;
  border-radius: 50rem !important;
  overflow: hidden;
  font-size: variables.$badge-font-size;
  font-weight: variables.$badge-font-weight;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.badge-label {
  padding: variables.$badge-padding-y variables.$badge-padding-x;
}

.badge-count {
  border: 1px solid variables.$bg-gray-3;
  border-left: none;
  border-top-right-radius: 50rem;
  border-bottom-right-radius: 50rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: variables.$bg-gray-3;
  padding: calc(variables.$badge-padding-y * 0.7) variables.$badge-padding-x;
}
