// custom.scss 

@use 'variables';

body {
  box-sizing: border-box;
  color: variables.$bg-gray-4;
  font-family: variables.$font-sans-serif;
  height: calc(100vh - 25px);
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans";
  font-weight: 700;
}

table td:first-child {
  width: 100px;
}

/* Sidebar */
.sidebar {
  align-items: center;
  background-color: variables.$bg-gray-1;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  gap: 20px;
  height: calc(100vh - 26px);
  left: 0;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 60px;
  z-index: 100;

  &__nav-item {
    &:last-child {
      margin-top: auto;
    }
  }

  &__icon {
    color: variables.$bg-gray-2;

    &--active {
      color: variables.$bg-gray-3;
    }
  }
}

// This is the main view inside the window, exclusive of sidebar and statusbar
.main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 25px);
  margin-left: 60px;
  padding: 20px;
  padding-bottom: 10px;

    &__titlebar {
    background-color: variables.$bg-gray-3;
    flex: 0 0 auto;
  }

  &__h1 {
    background-color: variables.$body-bg;
    color: variables.$bg-gray-3;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 60px;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.container-main {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  height: calc(100vh - 25px);
  justify-content: center;
}

.sheet {
  background: variables.$bg-gray-1;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: min(95%, calc(100vh - 25px));
  overflow: auto;
  padding: 1rem;
  width: min(95%);
}

.onsheet {
  background: variables.$bg-gray-1;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  overflow: auto;
  padding: 1rem;
  width: 100%;
}

/* Corner */
.corner {
  background-color: variables.$bg-gray-3;
  bottom: 0;
  height: 26px;
  position: fixed;
  width: 60px;
  z-index: 100;
}

/* Statusbar */
.statusbar {
  background-color: variables.$bg-gray-2;
  bottom: 0;
  height: 26px;
  left: 60px;
  line-height: 26px;
  padding-left: 10px;
  position: fixed;
  width: calc(100vw - 60px);
  z-index: 100;

  &__icon {
    &--valid {
      color: green;
    }

    &--invalid {
      color: red;
    }
  }

  &__dbpath {
    font-size: 0.8rem;
  }
}

.text-bg-gray-3 {
  color: variables.$bg-gray-1;
  background-color: variables.$bg-gray-3;
}