<div class="main__titlebar"><h1 class="main__h1">Overview</h1></div>
<div class="container-main">
  <div class="sheet">
    <h6 class="header"><span class="header__span"><i id = "db-valid" class="fa-solid fa-circle header__status"></i> DATABASE</span></h6>
    <table class="width-100">
      <tr>
        <td><span class="badge rounded-pill text-bg-gray-3">Name</span></td>
        <td><span id="lexadb-name"></span></td>
      </tr>
      <tr>
        <td><span class="badge rounded-pill text-bg-gray-3">Author</span></td>
        <td><span id="lexadb-author"></span></td>
      </tr>
    </table>

    <h6 class="header"><span class="header__span"><i id="lexicon-valid" class="fa-solid fa-circle header__status"></i> LEXICON</span></h6>
    <table class="width-150">
      <tr>
        <td><span class="badge rounded-pill text-bg-gray-3">Entries</span></td>
        <td><span id="lexicon-entries"></span></td>
      </tr>
      <tr>
        <td><span class="badge rounded-pill text-bg-gray-3">Word class</span></td>
        <td><span id="lexicon-class"></span></td>
      </tr>
    </table>
    <!-- <div class="split-badge"><span class="badge-label text-bg-gray-3">Nouns</span><span class="badge-count">10</span></div> -->

    <h6 class="header"><span class="header__span"><i class="fa-solid fa-circle header__status"></i> COLLECTIONS</span></h6>
  </div>
</div>